<app-dialog
  [title]="'productPicker.title' | translate"
  [saveLabel]="'dialog.close' | translate"
  [saveDisabled]="false"
  [showCancel]="false"
  [size]="'large'"
  (save)="close()"
  (cancel)="close()"
>
  <div class="flex flex-col gap-4">
    <app-filters [fields]="filterFields()" (search)="onSearch($event)" (clear)="onClear()" />

    @if (errorCode()) {
      <div class="rounded-lg border border-border">
        <app-error-state [code]="errorCode()!" />
      </div>
    } @else {
      <app-selectable-table
        [columns]="columns()"
        [rows]="rows()"
        [totalRecords]="totalRecords()"
        [pageNumber]="pageNumber()"
        [pageSize]="pageSize()"
        [emptyMessage]="'table.empty' | translate"
        [loading]="loading()"
        (rowSelected)="onRowSelected($event)"
        (pageChange)="onPageChange($event)"
        (pageSizeChange)="onPageSizeChange($event)"
      />
    }
  </div>
</app-dialog>
